**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.env
.venv
venv/
ENV/
env/
.git
.gitignore
.dockerignore
docker-compose.yml
README.md
*.md
.DS_Store
.vscode
.idea
*.log
db.sqlite3
staticfiles/
media/
*.coverage
htmlcov/
.pytest_cache/
